li {
    font-size: 15px;
    font-family:'Times New Roman', Times, serif; 
}
h3{
    padding-top: 5px;
}
#title{
    font-size: 72px;
    color: beige;
    text-align: center;
}
html{
    background-image: linear-gradient(to bottom right, rgb(37, 37, 37),rgba(35, 95, 58, 0.451));

}
img {
    border: 10px solid #6e3737;
    filter: grayscale();
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
    border-radius: 15px;
}
p {
    margin: 10px;
    word-break: break-all;
  }
iframe{
    border: 0;
}
.grey-large{
    font: large;
    color: gainsboro;
}
.footer{
    width: 100%;
    height: 100px;
    border-style: groove;
    border-width: 4px;
}
.footer .text{
    text-align: center;
}
